/* 데스크탑 화면 */
@media screen and (min-width: 1024px) {
  #container {
    margin: 30px 5%;
  }

  .health-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: calc(724px + 5%);
    gap: 5%;
    height: 800px;
  }

  .info-imgContainer {
    grid-column: 2;
    grid-row: 1;
    display: block;
    justify-content: center;
  }

  :root {
    --container-width: 100%; /* 요소의 너비 */
    --height-calculation: calc(
      100vh - (var(--container-width) * 0.5625 * 2) - 40px
    );
  }

  .news-links {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    width: 100%;
  }

  .news-links,
  .info-imgContainer {
    padding: 5%;
  }

  #img-frame {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    background: #4caf50;
    border-radius: 10px;
  }

  #img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: 100%;
    border-radius: 10px;
    background-color: #718372;
  }
}
