/* font */
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* body */
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.health-news {
  background: linear-gradient(#ffffff 10%, #5e9960);
  width: auto;
  padding: 30px;
  position: relative;
  justify-content: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 40px;
  background-color: #ffffff;
  text-align: start;
  padding: 10px 100px;
  z-index: 1000;
}

header > h1 {
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
}

/* header 메뉴 */
#header-menu {
  padding: 0px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 16px;
}

.menu li {
  margin: 0;
}

.menu a {
  color: #4d4d4d;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.menu a:hover {
  color: #5e9960;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #4d4d4d;
  cursor: pointer;
}

h1 {
  margin: 0;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#developers {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

.developer-intro {
  text-align: center;
  display: flex;
  align-items: center;
}

.developer {
  text-align: center;
  width: 30%;
  border-radius: 10%;
  background-color: #a4bea5;
}

.developer img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 10px;
}

#introduction ul {
  list-style-type: none;
  padding: 0;
}

#introduction ul li {
  background: #a4bea5;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

#footer {
  height: 40px;
  text-align: center;
  background-color: #4d4d4d;
  color: #ffffff;
}

.footer-content {
  display: inline-block;
  font-size: small;
  padding-top: 10px;
  font-family: "Outfit", sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 30px; /* 헤더 높이만큼 상단에 패딩 추가 */
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  header {
    height: 30px;
    padding: 5px 20px;
    text-align: center;
  }

  header > h1 {
    font-size: 20px;
  }

  /* 모바일 화면 메뉴버튼 */
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 200px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .menu li {
    margin-left: 0;
  }

  .menu-toggle {
    display: block;
  }

  .menu.show {
    display: flex;
    max-height: 500px; /* Adjust according to your menu height */
    opacity: 1;
  }

  .developer-intro {
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  #developers {
    display: block;
    text-align: center;
  }

  .developer {
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
    border-radius: 15%;
    background-color: #a4bea5;
  }

  .developer img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
  }
}
