/* 폰트 */
.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit > {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* HTML, Body */
html,
body {
  scroll-behavior: smooth;
  margin-top: 20px;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 40px;
  background-color: #ffffff;
  text-align: start;
  padding: 10px 100px;
  z-index: 1000;
}

header > h1 {
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
}

/* header 메뉴 */
#header-menu {
  padding: 0px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}

.menu li {
  margin: 0;
}

.menu a {
  color: #4d4d4d;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.menu a:hover {
  color: #5e9960;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #4d4d4d;
  cursor: pointer;
}

/* 비디오 컨테이너 평소에는 안보임*/
.video-container {
  display: none;
}

/* 건강 정보 표시 부분 */
.health-news {
  background: linear-gradient(#ffffff 10%, #5e9960);
  width: auto;
  height: auto;
  padding: 30px;
  position: relative;
  justify-content: center;
}

.health-news > h2 {
  margin-top: 70px;
  padding: 0;
  color: #4d4d4d;
  font-size: 32px;
  text-align: center;
}

/* News links styling */
.news-links {
  list-style: none;
  margin: 30px auto;
  width: 380px;
  padding: 0;
  justify-content: center; /* 아이템을 중앙 정렬 */
}

.news-links > li {
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  background: radial-gradient(#a4bea5, #ffffff);
  transition: transform 0.3s, box-shadow 0.3s, flex 0.3s, height 0.3s;
}

.news-links > li:nth-child(2) {
  margin-bottom: 20px;
}

.news-links > li:nth-child(4) {
  margin-bottom: 20px;
}

.news-links > li:nth-child(2n-1) {
  color: black;
  margin-bottom: 20px;
}

.news-links > li:nth-child(2n) {
  color: black;
  text-align: right;
}

.news-links a {
  color: black;
  text-decoration: none;
}

.news-links > li:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Button */
#buttonarea {
  display: block;
  width: fit-content;
  height: auto;
  margin: 0 auto;
}

#scrollButton {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 300px;
  padding: 5px 10px;
  background: radial-gradient(40% #ffffff, #4d4d4d);
  transition: transform 0.3s, box-shadow 0.3s, flex 0.3s, height 0.3s;
}

#scrollButton a {
  color: black;
  text-decoration: none;
}

#scrollButton:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Navigation */
nav {
  margin: 0 60px;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  font-weight: 600;
  font-size: 20px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s, flex 0.3s, height 0.3s;
}

nav ul li a:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Game area */
.game-area {
  height: inherit;
  width: inherit;
  background-color: #5e9960;
}

/* Container */
#container {
  height: auto;
  width: auto;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Tabs */
.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.tabs .on a {
  position: relative;
  font-weight: 700;
  background-color: #ffffff;
}

.tabs .on a::before {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: "";
  background: #4caf50;
}

/* Tab content */
.tabon {
  display: none;
}

.tabon.on {
  display: block;
}

/* 게임이 들어가는 box */
.box {
  width: inherit;
  height: inherit;
  padding: 30px;
}

/* 눈 건강 게임 */
.circle {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  animation: moveHorizontal 1s infinite alternate;
}

@keyframes moveHorizontal {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 50px);
  }
}

/* 카드 뒤집기 게임 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px; /* 컨테이너의 최대 너비 설정 */
  max-height: max-content;
  margin: 0 auto;
  padding: 15px;
  background-color: #f0f0f0; /* 컨테이너 배경색 설정 */
}

.card {
  width: calc(16.66% - 20px); /* 카드 너비를 6열로 맞추기 위해 설정 */
  padding-top: calc(16.66% - 20px); /* 1:1 비율 유지 */
  margin: 10px;
  position: relative;
  perspective: 1500px;
  cursor: pointer;
}

.card-inner {
  width: 69.3%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-flipped .card-inner {
  transform: rotateY(0deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
}

.card-back {
  background-image: url("card_back.png");
}

/* 숫자 클릭하기 */
.num-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button {
  width: calc(70% / 8);
  height: 100px;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  line-height: 100px;
  background-color: #a4bea5;
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: #718372;
}

.num-container > .button {
  margin-right: 20px;
}

.num-container > .button:last-child {
  margin-right: 0px;
}

/* 가위바위보 */
input:first-child {
  margin-left: 0;
}

.game-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
}

.player-choice,
.computer-choice {
  text-align: center;
  justify-content: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.player-choice button,
.computer-choice div {
  width: calc(100% / 6);
  height: 100px;
  margin: 0px;
  font-size: 18px;
}

.player-choice button {
  background-color: #a4bea5;
  border-radius: 10px;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  margin-right: 20px;
  height: 100px;
}

.player-choice button:hover {
  background-color: #718372;
}
.player-choice button:last-child {
  margin-right: 0;
}

.result {
  display: inline-block;
  text-align: center;
  font-size: 24px;
}

#computer-image {
  width: 100%;
  justify-content: center;
}

#computer-image img {
  width: 15%;
  height: auto;
}

/* 모바일 화면 */
@media screen and (max-width: 768px) {
  body {
    padding-top: 30px; /* 헤더 높이만큼 상단에 패딩 추가 */
  }

  header {
    height: 30px;
    padding: 5px 20px;
    text-align: center;
  }

  header > h1 {
    font-size: 20px;
  }

  /* 모바일 화면 메뉴버튼 */
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 200px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .menu li {
    margin-left: 0;
  }

  .menu-toggle {
    display: block;
  }

  .menu.show {
    display: flex;
    max-height: 500px; /* Adjust according to your menu height */
    opacity: 1;
  }

  .health-news {
    padding: 20px;
  }

  .health-news > h2 {
    margin-top: 20px;
    font-size: 24px;
  }

  .news-links {
    margin: 50px auto;
    max-width: 100%;
    padding: 0 10px;
  }

  .news-links > li {
    flex: 0 1 calc(50% - 10px); /* 반응형 레이아웃을 위해 너비 조정 */
    height: auto; /* 높이 자동 조정 */
    margin: 5px;
    font-size: 16px;
  }

  #buttonarea {
    display: block;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
  }

  #scrollButton {
    font-size: 15px;
  }

  nav {
    margin: 0 20px;
  }

  nav ul li {
    font-size: 16px;
  }

  .game-area {
    padding: 10px;
  }

  #container {
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .tabs {
    font-size: 16px;
  }

  .circle {
    width: 40px;
    height: 40px;
    animation: moveHorizontalMobile 1s infinite alternate;
  }

  @keyframes moveHorizontalMobile {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - 40px);
    }
  }

  .box {
    padding: 10px;
  }

  .point {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .card-container {
    padding: 30px;
  }

  .card {
    width: calc(25% - 20px); /* 작은 화면에서 4x3 그리드 설정 */
    padding-top: calc(25% - 20px); /* 1:1 비율 유지 */
  }

  .card-inner {
    transition: transform 0.6s;
  }

  .num-container {
    padding: 20px;
  }

  input {
    height: 100px;
    width: 100%;
  }
}

/* 데스크탑 화면에 대한 스타일 */
@media screen and (min-width: 1024px) {
  #container {
    margin: 40px 100px;
  }

  .health-news {
    height: 130%;
  }

  .news-links {
    float: left;
    margin: 0;
  }

  .video-container {
    display: flex;
    float: right;
    justify-content: center;
  }

  .news-links,
  .video-container {
    margin-top: 60px;
    width: 40%;
    height: 80%;
    padding: 0 50px;
  }

  #vid1 {
    width: 100%;
    height: 100px;
    background: #4caf50;
  }
}
